.jumbotron{
  text-align: center;
  background-image: url(https://images.unsplash.com/photo-1580519542036-c47de6196ba5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1471&q=80);
}

form{
  text-align: center;
  color: rgb(218, 38, 209);
  font-size: x-large;
  background-color: aliceblue;
  opacity: .8;
  padding-bottom: 1%;
}

select{
  text-align: center;
}

body{
  background-image: url(https://images.unsplash.com/photo-1502920514313-52581002a659?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1467&q=80);
}

#showExchange{
  display: none;
  text-align: center;
  color: rgb(218, 38, 209);
  font-size: x-large;
  background-color: aliceblue;
  opacity: .8;
  padding-bottom: 1%;
}

#showError{
  display: none;
  text-align: center;
  color: rgb(218, 38, 209);
  font-size: x-large;
  background-color: aliceblue;
  opacity: .8;
  padding-bottom: 1%;
}

#showTemp{
  display: none;
  text-align: center;
  color: rgb(218, 38, 209);
  font-size: x-large;
  background-color: aliceblue;
  opacity: .8;
  padding-bottom: 1%;
}

#showTempMin{
  display: none;
  text-align: center;
  color: rgb(218, 38, 209);
  font-size: x-large;
  background-color: aliceblue;
  opacity: .8;
  padding-bottom: 1%;
}

#showTempMax{
  display: none;
  text-align: center;
  color: rgb(218, 38, 209);
  font-size: x-large;
  background-color: aliceblue;
  opacity: .8;
  padding-bottom: 1%;
}

.weather{
  text-align: center;
  color: rgb(59, 46, 236);
  font-size: x-large;
  background-color: aliceblue;
  opacity: .8;
}